@keyframes blinkCursor {
    50% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typeAndDelete {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 12.4em; /* Ajusta a largura 2 vezes */
    }
    90%,
    100% {
      width: 0;
    }
  }
  
  .terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 2em; /* Ajusta a fonte 2 vezes */
    padding: 3em 2em; /* Ajusta o padding 2 vezes */
    width: 24em; /* Ajusta a largura 2 vezes */
    margin: 50vh auto; /* Centraliza verticalmente na tela */
    transform: translateY(-50%); /* Ajuste para centralização vertical */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3em; /* Ajusta a altura 2 vezes */
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.8em; /* Ajusta o padding 2 vezes */
    box-sizing: border-box;
  }
  
  .terminal-controls {
    float: right;
  }
  
  .control {
    display: inline-block;
    width: 1.2em; /* Ajusta a largura 2 vezes */
    height: 1.2em; /* Ajusta a altura 2 vezes */
    margin-left: 0.8em; /* Ajusta o margin 2 vezes */
    border-radius: 50%;
    background-color: #777;
  }
  
  .control.close {
    background-color: #e33;
  }
  
  .control.minimize {
    background-color: #ee0;
  }
  
  .control.maximize {
    background-color: #0b0;
  }
  
  .terminal-title {
    float: left;
    line-height: 3em; /* Ajusta a altura da linha 2 vezes */
    color: #eee;
  }
  
  .text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.4em solid green; /* Ajusta a largura do cursor 2 vezes */
    animation: typeAndDelete 4s steps(11) infinite, blinkCursor 0.5s step-end infinite alternate;
    margin-top: 3em; /* Ajusta o margin-top 2 vezes */
  }
  